/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    all: unset;
}

/* ---------------------------------------------- NAVBAR----------------------------------------------------- */
    /* ------------------- geral ------------------- */
nav {
    position: fixed;
    height: 13.819vw;
    left: 0%;
    right: 0%;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7.9166vw; /*114px*/

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0.2777778vw 1.11111111vw rgba(0, 0, 0, 0.04);
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04); */
}

    /* ------------------- logo ------------------- */
#logo1{
    /* width: 8.33%; */
    width: 8.33vw; /*120px*/
    height: 8.263vw; /*119px*/
}

    /* ------------------- logo ------------------- */
input {
    border: none;
    width: 88.4vw;  /*398px*/
    height: 1.666vw; /*24px*/
}

#search {
    /* width: 450px;
    height: 61px; */
    width: 31.25vw;
    height: 4.236vw;
    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 8px 16px;
    gap: 16px;  */
    

    background: #FFFFFF;
    border: 0.034722222vw solid rgba(96, 96, 96, 0.3);
    border-radius: 0.5555556vw;
    /* border: 0.5px solid rgba(20, 96, 96, 0.3);
    border-radius: 8px; */
}

#lupa {
    padding: 0px 1.1111111111vw;
    /* padding: 0px 16px; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.38888889vw;
    line-height: 1.6666667vw;
    /* font-size: 20px;
    line-height: 24px; */

    color: rgba(96, 96, 96, 0.6);
    padding: 0px 0px;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.38888889vw;
    line-height: 1.6666667vw;
    /* font-size: 20px;
    line-height: 24px; */

    color: rgba(96, 96, 96, 0.6);
    padding: 0px 0px;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.38888889vw;
    line-height: 1.6666667vw;
    /* font-size: 20px;
    line-height: 24px; */

    color: rgba(96, 96, 96, 0.6);
    padding: 0px 0px;
}

/* ---------------------------------------------- CONTENT ---------------------------------------------- */
    /* ------------------- geral ------------------- */
#content {
    background-color: #FAFAFA;
    display: flex;
    padding: 0px 7.916vw;
    padding-top: 19.375vw;
    height: 40.97083333vw;
    /* padding: 0px 114px;
    padding-top: 279px; --> 80 de padding e 199 de margin. Coloquei tudo padding,
    porque a cor do fundo ainda continua atrás da navbar
    height: 589.98px;*/
    justify-content: space-between;
    align-items: space-between;
}

        /* ----------- texto ----------- */
.quadro h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2.22222vw;
    line-height: 2.708333vw;
    /* identical to box height */
    margin-bottom: 0.55555556vw;

    width: 18.75vw;
    height: 2.708333vw; 

    /* font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
    width: 270px;
    height: 39px;   */


    color: #292929;
}

.quadro p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.111111vw;
    line-height: 1.38888889vw;

    width: 18.75vw;
    height: 2.7777778vw;

    /* font-size: 16px;
    line-height: 20px;
    width: 270px;
    height: 40px; */

    color: #606060;
}

    /* ------------------- quadros grandes ------------------- */
        /* ----------- geral ----------- */

#quadro1, #quadro3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.6666667vw;
    width: 18.75vw;
    height: 32.222222vw;
    
    /* padding: 24px;
    width: 270px;
    height: 464px; */

    background: #FFFFFF;
    box-shadow: 0vw 0.2777778vw 1.11111111vw rgba(0, 0, 0, 0.04);
    border-radius: 1.11111111vw;
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px; */
}

                /* ----------- elementos ----------- */
.img-maior {
    width: 18.75vw;;
    height: 18.75vw;
    /* width: 270px;
    height: 270px; */
}

.price p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6666667vw;
    line-height: 2.013888889vw;
    width: 6.1805556vw;
    height: 2.013888889vw;
    /* font-size: 24px;
    line-height: 29px;
    width: 89px;
    height: 29px; */

    color: #000000;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.152777vw;
    height: 3.125vw;
    /* width: 103px;
    height: 45px; */

    background: rgba(249, 199, 191, 0.5);
    border-radius: 0.5555556vw;
    /* border-radius: 8px; */
}

    /* ------------------- quadros menores ------------------- */

#quadro2, #quadro4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35.555556vw;
    /* height: 512px; */

}

                /* ----------- elementos ----------- */
.img-menor {
    width: 13.33333vw;
    height: 13.33333vw;
    /* width: 192px;
    height: 192px; */
}

.img-menor-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 16.66666667vw;
    height: 16.66666667vw;

    /* width: 240px;
    height: 240px; */

    background-color: #FFFFFF;
    box-shadow: 0px 0.27777778vw 1.111111111vw rgba(0, 0, 0, 0.04);
    border-radius: 1.111111111vw;
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px; */
}

/* ---------------------------- FOOTER --------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10.7652vw;
    /* height: 155.02px; */

    background: #F2F2F2;
}

.icones {
    width: 2.4305556vw;
    /* width: 35px; */
}

#logo2 {
    width: 4.166667vw;
    height: 4.0986111vw;
    /* width: 60px;
    height: 59.02px; */
    margin: 0px 22.43055556vw 0px 30.625vw;
    /* margin: 0px 323px 0px 441px; */
}

#facebook {
    margin: 0px 1.0416667vw 0px 1.0416667vw;
    /* margin: 0px 15px 0px 15px; */
}

#final-message {
    width: 18.4vw;
    height: 1.180555556vw;
    /* width: 253px;
    height: 17px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.97222222vw;
    line-height: 1.180555556vw;
    /* identical to box height */
    /* font-size: 14px;
    line-height: 17px; */


    color: #292929;
}