/* ---------------------------------------------- RESETTING STYLING ----------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    all: unset;
}

/* ---------------------------------------------- NAVBAR----------------------------------------------------- */
    /* ------------------- geral ------------------- */
nav {
    position: fixed;
    height: 129.42px;
    left: 0%;
    right: 0%;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
}

    /* ------------------- logo ------------------- */
#logo1 {
    width: 70px;
    height: 69.42px;
    margin: 40px 0px 20px 0px;
}

    /* ------------------- logo ------------------- */

input {
    width: 40px;
    height: 40px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5.34973px 10.6995px;
    gap: 10.7px; */

    width: 40px;
    height: 40px;

    background: #FFFFFF;
    border: 0.334358px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;

    margin: 54.71px 0px 20px 34.71px;
}

#lupa {
    display: none;
}

#search-box {
    width: 13.37px;
    height: 13.37px;
    background-image: url(./assets/magnifyingglass.svg);
    background-size: cover;
}

/* ---------------------------------------------- CONTENT ---------------------------------------------- */
    /* ------------------- geral ------------------- */
#content {
    /* height + padding */
    background-color: #FAFAFA;
    padding: 0px 32px;
    padding-top: 169.42px;
    /* 40 de padding e 129.42 de margin. Coloquei tudo padding,
    porque a cor do fundo ainda continua atrás da navbar*/
    height: 622px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#quadro1 {
    order: 1;
}
#quadro2 {
    order: 2;
}
#quadro4 {
    order: 3;
}
#quadro3 {
    order: 4;
}

        /* ----------- texto ----------- */
.quadro h1 {
    width: 149.19px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17.6814px;
    line-height: 22px;
    /* identical to box height */

    margin: 0px 13.26px 4.42px 13.26px;


    color: #292929;
}

.quadro p {
    width: 149.19px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8.84068px;
    line-height: 11px;

    margin: 0px 13.26px 0px 13.26px;

    color: #606060;
}

    /* ------------------- quadros grandes ------------------- */
        /* ----------- geral ----------- */
#quadro1, #quadro3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 175.71px;
    height: 283px;

    background: #FFFFFF;
    box-shadow: 0px 2.21017px 8.84068px rgba(0, 0, 0, 0.04);
    border-radius: 8.84068px;
}

        /* ----------- elementos ----------- */
.img-maior {
    width: 149.19px;
    height: 149.19px;
    margin: 13.26px 13.26px 0px 13.26px;
}

.price p {
    width: 49px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13.261px;
    line-height: 16px;

    margin: 0px 0px 0px 0px;

    color: #000000;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4.42034px; */
    gap: 5.53px;

    width: 57.84px;
    height: 24.84px;

    background: rgba(249, 199, 191, 0.5);
    border-radius: 4.42034px;
    margin: 0px 0px 13.03px 13.26px;
}

    /* ------------------- quadros menores ------------------- */

#quadro2, #quadro4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 283px
}

.img-menor {
    width: 106.09px;
    height: 106.09px;
}

.img-menor-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;


    width: 132.61px;
    height: 132.66px;


    background: #FFFFFF;
    box-shadow: 0px 2.21017px 8.84068px rgba(0, 0, 0, 0.04);
    border-radius: 8.84068px;
}

/* ---------------------------------------------- FOOTER ---------------------------------------------- */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 32.8205vw;
    /* height: 128px; */

    background: #F2F2F2;
}

.icones {
    width: 25px;
}

#logo2 {
    display: none;
}

#facebook {
    margin: 0px 30px 0px 30px;
}

#final-message {
    margin-top: 6.1538461vw;
}